body {
    font-family: Helvetica;
}

div {
	width: 80%;
	margin: auto;
	text-align: center;
	background: white;
}

#glass {
	display: none;
}

.on-page {
	display: block !important;
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	border: 5px solid;
	background-image: url('/lorem_ipsum.jpeg');
	margin: 0;
	padding: 0;
}